body{
  background-color: rgb(57, 57, 57);
}

ul{
  color: #369;
  font-family: 'Courier New', Courier, monospace;
}
button{
  background-color: aquamarine;
}
h2, h3 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
